
body {
    background-color: rgb(137, 186, 188);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: rgb(169, 224, 225);

    margin-right: auto; 
    margin-left:  auto; 
  
    max-width: 960px; 
}

h1 {
    position: absolute;
    top: 30%;
    color: white;
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    margin: 0 auto;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}

.navlist {
    width: 33.33;
    text-align:center;
}

.content {
    padding: 8px;
}

.starfish {
    width: 200px;
}

#container {
    margin-bottom: 50px;
}

#floated {
    float: left;
    margin: 5px;
}

.box {
    border: 2px solid black;
    padding: 20px;
    margin: 5px;
}

.roundcheckbox {
    display: inline;
}

.copyright {
    text-align: right;
}